/* Impostazioni di base */
*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Impostazioni per il layout Grid */
.layout-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1 parte per la colonna sinistra, 3 per la colonna destra */
    grid-template-rows: auto 1fr auto; /* Header, contenuto principale, footer */
    grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
    height: 100vh;
    max-width: 1600px;
    margin: auto;
}

/* Header */
header {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
.pulsanti {
    margin: auto;
}
.button {
    display: inline-block;
    padding: 10px;
    background-color: #39883c;
    color: white;
    text-decoration: none;
    width: 130px;
    /* border: 1px solid red; */
    border-radius: 10px;
}
.button:hover, .corrente{
    font-weight: bold;
    background-color: #2f7031;
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Colonna di sinistra */
menu {
    grid-area: menu;
    margin: 0px;
    background-color: #f4f4f4;
    padding: 20px;
}

menu ul {
    list-style-type: none; /* Rimuove i punti elenco */
    padding-left: 5px; /* Rimuove il padding a sinistra */
}

menu li {
    padding: 3px 0; /* Aggiunge spazio sopra e sotto */
}

menu ul ul {
    padding-left: 15px; /* Riduce il rientro a sinistra per ogni livello */
}
menu ul ul ul {
    padding-left: 25px; /* Riduce il rientro a sinistra per ogni livello */
}

menu a {
    text-decoration: none; /* Rimuove la sottolineatura dai link */
    color: inherit; /* Mantiene il colore del testo */
}

menu a:hover {
    text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del mouse */
}

#titolo_header {
    display: none;
}

/* Contenuto principale */
main {
    grid-area: main;
    margin: 0px;
    padding: 20px;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 72px;
}
.page-container {
    max-width: 1200px;
    margin: auto;
}
#kobe-right {
    float: right;
    width: 30%;
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px;
}
#kobe-right img {
    width: 100%;
}
#kobe-right p {
    margin: 0 5px;
    text-align: center;
}
.centrato {
    text-align: center;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    .layout-container {
        display: block;
    }
    header, menu, main, footer {
        width: 100%;
        padding: 10px;
    }
    #titolo_header {
        display: block;
    }
    .pulsanti {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Due colonne */
        gap: 10px; /* Spazio tra i bottoni */
        width: 100%;
        padding: 5px;
    }
    header {
        padding: 5px;
    }
    .button {
        width: 100%;
        margin-bottom: 10px;
    }
    .hamburger {
        display: block;
    }
    header, menu {
        display: none;
    }
    header.active, menu.active {
        display: block;
    }
    
    #kobe-right {
        float: none;
        width: 100%;
        margin: 0;
    }
}

/* Media query per schermi più piccoli */
@media (max-width: 480px) {
    .pulsanti {
        display: block; /* Disposizione su una colonna */
    }
    .button {
        width: 100%;
        margin-bottom: 10px;
    }
}
